html {
    font-family: "Ubuntu Mono", monospace;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
}

.workbench {
    font-family: "Workbench", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "BLED" 0,
        "SCAN" 0;
}
